@using Forte.Styleguide
@model StyleguideIndexViewModel

<!DOCTYPE html>
<html class="has-js" dir="ltr">
<head>
    <title>Style Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/Static/Styleguide/css/white.css"/>
</head>
<body>
<div class="Frame" id="frame">
    <div class="Frame-header">
        <div class="Header">
            <a href="" class="Header-title" data-pjax="">Styleguide</a>
        </div>
    </div>
    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">            
                <div class="Pen" data-behaviour="pen">
                    <div class="Pen-panel Pen-header"></div>                    
                    <div class="Pen-panel Pen-preview Preview resizable" data-behaviour="preview">
                        <div class="Preview-wrapper resizable" data-role="resizer">
                            <div class="Preview-resizer">
                                <iframe id="component" src="about:blank" class="Preview-iframe" data-role="window" marginwidth="0" marginheight="0" vspace="0" hspace="0" scrolling="yes" frameborder="0"></iframe>                                
                            </div>
                            <div class="Preview-handle" data-role="resize-handle" style="touch-action: none;"></div>
                            <div class="Preview-overlay"></div>
                        </div>
                    </div>
                    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle" style="touch-action: none;">                        
                    </div>
                    <div class="Pen-panel Pen-info" data-role="info">
                        <div class="Browser" data-behaviour="browser">
                            <div class="Browser-controls">
                                <ul class="Browser-tabs">
                                    <li class="Browser-tab Browser-tab-context">
                                        <a href="#">
                                            @if (Model.UseMarkdownDescription)
                                            {
                                                <span>Block description</span>
                                            }
                                            else
                                            {
                                                <span>Context</span>
                                            }
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="Browser-panel Browser-code is-active" data-role="tab-panel">
                                <iframe id="componentContext" src="about:blank" width="100%" height="100%"></iframe>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle" style="touch-action: none;"></div>
        
        <div class="Frame-panel Frame-panel--sidebar resizable" data-role="sidebar" style="width: 240px;">
            
            <nav class="Navigation">
                
                <div class="Navigation-group">

                    <div class="Tree" data-behaviour="tree" id="tree-components">
                         <ul class="Tree-items Tree-depth-1">
                            @foreach (var tag in Model.Tags)
                            {
                                <ul class="Tree-items Tree-depth-2">
                                    <li class="Tree-item Tree-entity"><h2 class="Tree-title">@tag</h2></li>
                                    @foreach (var component in Model.Components.Where(c => c.Tags.Contains(tag)).OrderBy(c => c.DisplayName))
                                    {
                                        <li class="Tree-item Tree-entity" data-role="item">
                                            <a class="Tree-entityLink" href="@Url.Action("Component", "Styleguide", new {Name = component.Name})" data-component="@component.Name">
                                                <span>@component.DisplayName</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Static/Styleguide/js/mandelbrot.js" ></script>

@{
    var httpAction = nameof(StyleguideController.ComponentContext);
    if (Model.UseMarkdownDescription)
    {
        httpAction = nameof(StyleguideController.ComponentMarkdown);
    }
}
<script type="text/javascript">
    $(document).ready(function() {
        $('a.Tree-entityLink').click(function(event) {
            event.preventDefault();
            
            $("li[data-role='item']").removeClass("is-current");
            $(this).parent().addClass("is-current");

            var componentName = $(this).data("component");
            window.location.hash = componentName;
            $("iframe#component").attr("src", "styleguide/Component/" + componentName);
            $("iframe#componentContext").attr("src", "styleguide/@httpAction/" + componentName);
        });

        $(function() {
            if (window.location.hash) {
                var selectedComponent = window.location.hash.substr(1);
                if (selectedComponent) {
                    var jqComponent = $("a[data-component='" + selectedComponent + "']");
                    jqComponent.click();
                    jqComponent.parent().addClass("is-current");
                }
            }
        });
    });
</script>

</body>
</html>
