@using Forte.Styleguide.Views.Styleguide

@if (!string.IsNullOrEmpty(((MvcPartialComponentViewModel)ViewData["Model"]).LayoutPath))
{
    Layout = ((MvcPartialComponentViewModel)ViewData["Model"]).LayoutPath;
}

<style>
    .StyleguideComponentVariant__name {
        padding: 11px 20px 10px;
        margin: 20px;
        background: #eee;
        display: inline-block;
        font-size: 14px;
        line-height: 1.5;
        text-transform: uppercase;
    }
    
    .StyleguideComponentVariant__name::before {
        content: "Variant: ";
        text-transform: none;
        margin-right: 5px;
    }

    .StyleguideComponentVariant__wrapper {
        margin: 10px 20px 60px;
    }

    .Body--search::before { display: none; }
    
</style>

@if (((MvcPartialComponentViewModel)ViewData["Model"]).Error != null)
{
    <pre class="StyleguideComponent__error">@((MvcPartialComponentViewModel)ViewData["Model"]).Error</pre>
}
else
{
    foreach (var variant in ((MvcPartialComponentViewModel)ViewData["Model"]).Variants)
    {
        <span class="StyleguideComponentVariant__name">@variant.Name</span>        
        <div class="StyleguideComponentVariant__wrapper">
            @Html.Partial(((MvcPartialComponentViewModel)ViewData["Model"]).PartialName, variant.Model, variant.ViewData)
        </div>
    }
}
