
@model Forte.Styleguide.MvcPartialComponentContextViewModel

<html>
    <head>
        <link type="text/css" rel="stylesheet" href="~/Static/Styleguide/css/white.css"/>
    </head>
    <body>
        <div class="Browser-panel Browser-code is-active" data-role="tab-panel">
            <code class="Code Code--lang-json">
                <pre>@Model.Context</pre>
            </code>
        </div>
    </body>
</html>
