@model Forte.Styleguide.MvcPartialComponentMarkdownViewModel

<html>
<body>
    <div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="markdown-content">
        @Html.Raw(Model.Content)
    </div>
</body>
</html>